[SddmGreeterTheme]
Name=winflat-sddm-theme
Description=WinFlat login screen theme for SDDM. Inspired by Windows 7/Vista login screen's layout. 
Author=lixkote
License=GPL-3.0
Type=sddm-theme
Version=1
Website=https://github.com/lixkote/winflat-sddm-theme
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Email=lixkote@gmail.com
Theme-Id=winflat-sddm-theme
Theme-API=2.0
QtVersion=6